.like-icon {
  -webkit-mask-image: url("../../assets/icons/arrow-up.svg");
  mask-image: url("../../assets/icons/arrow-up.svg");
  cursor: pointer;
}

.dislike-icon {
  -webkit-mask-image: url("../../assets/icons/arrow-down.svg");
  mask-image: url("../../assets/icons/arrow-down.svg");
  cursor: pointer;
}

.like-dislike-container {
  display: flex;
}

.favorite-icon {
  -webkit-mask-image: url("../../assets/icons/heart.svg");
  mask-image: url("../../assets/icons/heart.svg");
  cursor: pointer;
}
